<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Palace of Green Porcelain</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&family=Libre+Baskerville:ital@0;1&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    
    <a href="/"><h1 id="title">THE<br>PALACE<br>OF<br>GREEN<br>PORCELAIN</h1></a>


    <div class="container">
        <div class="row">
            <h2 id="tagline">A JOURNEY THROUGH TIME: <br>DISCOVER THE PAST<br>EXPLORE THE FUTURE</h2>
            <p id="about"><i>Welcome to The Palace of Green Porcelain. Immerse yourself in a captivating journey through time as our exhibits showcase the astounding work of Denton Morris. From Victorian Era artifacts to futuristic masterpieces, each exhibit is a testament to the ever-changing culture on our planet. Join us in exploring the past, celebrating the present, and inspiring the future at The Palace of Green Porcelain. After youve visited a few exhibits, check out a personalized list of exhibits here: <br><a id="for-you" href="/recommendations/<%= userId %>" alt="logo">For You...</a></i></p>

        </div>
        <div class="row">

            <h2>VICTORIAN ERA</h2>
            <hr>
        </div>
        <div class="image-row">
            <div class="column">
                <a href="/exhibit/2"><img class="grid-image" src="coat.jpeg" alt="Image 1"></a>
            </div>
            <div class="column">
                <a href="/exhibit/9"><img class="grid-image" src="schematic.jpeg" alt="Image 2"></a>
            </div>
        </div>

        <div class="row">
            <h2>AD 802,701</h2>
            <hr>
        </div>
        <div class="image-row">
            <div class="column">
                <a href="/exhibit/7"><img class="grid-image" src="palace_exterior_photo.jpeg" alt="Image 5"></a>
            </div>
            <div class="column">
                <a href="/exhibit/8"><img class="grid-image" src="palace-interior.jpeg" alt="Image 6"></a>
            </div>
        </div>

        <div class="row">
            <h2>DISTANT FUTURE</h2>
            <hr>
        </div>
        <div class="image-row">
            <div class="column">
                <a class="grid-image" href="/exhibit/1"><img class="grid-image" src="butterfly.jpeg" alt="Image 9"></a>
            </div>
            <div class="column">
                <a href="/exhibit/11"><img class="grid-image" src="sun_photo.jpeg" alt="Image 10"></a>
            </div>
        </div>
        <a href="/dashboard" alt="logo"><h2>DASHBOARD</h2></a>
    </div>

    <script>
        window.addEventListener('scroll', function() {
            var element = document.getElementById('title');
            if (window.scrollY > 50) {
                element.style.opacity = '0';
                element.style.transition = 'opacity 0.3s ease-in-out'; 
            } else {
                element.style.opacity = '1';
                element.style.transition = 'opacity 0.3s ease-in-out'; 
            }
        });
            
        var element = document.getElementById('title');
        if (window.scrollY > 100) {
            element.style.opacity = '0';
        } else {
            element.style.opacity = '1';
        }
        
    </script>
</body>
</html>